body {
    font-family: Arial;
    font-size: 15px;
    background-color: white;
    text-align: center; 
}
.container
{
 
    display:inline-block;
    background-color: white;
    padding: 10px;
    text-align: left;
    outline-style: outset;
}
input[type="text"],input[type="email"],input[type="password"],input[type="address"],select
{
 width:560px ;height: 20px;opacity: 0.5;  
}
button {
    margin: 10px;
    cursor: pointer;
}
