<!DOCTYPE html>
<html>
<head>
    <title> This is a form.</title>
    <link rel="stylesheet" href="task_3_style.css">
    <script src="task_3_valid.js"> </script>
</head>
<body>
    <div class="container">
        <h2 style="color: Red;">Donor Information</h2>
        <form onsubmit="return handleSubmit()">
            <div class="tab1">
                <table>
                    
                    <tr><td><b>Full Name</b></td></tr>
                    <tr>
                      
                        <td><input type="text" id="fullname" required></td>
                    </tr>
                    <tr><td><b>Last Name :</b></td></tr>
                    <tr>
                        
                        <td><input type="text" id="lastname" required></td>
                    </tr>
                    <tr><td><b>Address :</b></td></tr>
                    <tr>
                        
                        <td><input type="text" id="address"></td>
                    </tr>
                    <tr><td><b>City :</b></td></tr>
                    <tr>
                  
                        <td><input type="text" id="city" required></td>
                    </tr>
                    <tr><td><b>State :</b></td></tr>
                    <tr>
                       
                        <td>
                            <select id="state" name="State" style="width:50%;" required>
                                <option value="">--Select a State--</option>
                                <option value="Dhaka">Dhaka</option>
                                <option value="Chittagong">Chittagong</option>
                                <option value="Rajshahi">Rajshahi</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td><b>Phone :</b></td></tr>
                    
        
                    <tr>
                       
                        <td><input type="text" id="phone" required></td>
                    </tr>
                    <tr><td><b>Email :</b></td></tr>
                    <tr>
                     
                        <td><input type="email" id="email" required></td>
                    </tr>
                    <tr><td><b>Create Password (min 8 characters) :</b></td></tr>
                    <tr>
                        <td><input type="password" id="password" required></td>
                    </tr>
                    <tr><td><b>Confirm Password :</b></td></tr>
                    <tr>
                        
                        <td><input type="password" id="passwordC" required></td>
                    </tr>
                    <tr><td><b>Donation Amount :</b></td></tr>
                    <tr>
                        
                        <td colspan="5">
                            <b>
                                <label><input type="radio" name="des" value="None"> None</label>
                                <label><input type="radio" name="des" value="500"> 500 BDT</label>
                                <label><input type="radio" name="des" value="1000"> 1000 BDT</label>
                                <label><input type="radio" name="des" value="2000"> 2000 BDT</label>
                                <label><input type="radio" name="des" value="3000"> 3000 BDT</label>
                                <label><input type="radio" name="des" value="Other"> Other</label>
                            </b>
                           
                        </td>
                    </tr>
                    <tr><td><b>Other Amount :</b></td></tr>
                    <tr>
                        
                        <td><input type="text" id="otheramount" ></td>
                    </tr>
                    <tr>
                        <td colspan="5">
                          
                            <label style="margin-left: 10px;">
                                <input type="checkbox" id="terms" required> <b> I am Interested in giving on a regular basis.</b>
                            </label>
                        </td>
                    </tr>
                   
                </table>
            </div>
    
            <h2 style="color: Red;">Additional Information </h2>
            <div style="text-align:center;">
               
            </div>
            <div >
                <label><input type="checkbox"><b>I Would like my gift to remain anonymous.</b> </label><br>
                <label><input type="checkbox"><b> My employer offers a matching gift program.</b></label><br>
                <label><input type="checkbox"><b>Please don't send a thank you letter.</b></label><br>
            </div>
    
            <div class="tab3">
                <table>
                    <tr><td><b> Comments </b></td></tr>
                    <tr>

                        <td>
                            <input type="text" style="width:350px; height:100px;">
                        </td>
                    </tr>
                </table>
            <center>
                <div>
                    <button type="reset">Reset</button>
                    <button type="submit">Submit</button>
                </div>
            </center>
        </form>
    </div>
</body>
</html>